 @{
        ViewData["Title"] = "Bookstore";
    }

@model BooksViewModel

<div class="container center">
    <h1>Online Bookstore</h1>
</div>


@foreach (Book b in Model.Books)
{
    <div class="container">

        <h4>Title: @b.Title</h4>

        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classification: @b.Classification</li>
            <li>Number of Pages: @b.PageCount</li>
            <li>Price: @b.Price</li>
        </ul>
    </div>
}

<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1 pagecenter"></div>
